# ASP.NET Core Environment
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://localhost:5006;https://localhost:7285

# Database Configuration
DB_SERVER=localhost
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_TRUSTED_CERT=True

# JWT Configuration
JWT_KEY=
JWT_ISSUER=erooms-api
JWT_AUDIENCE=erooms-client

# Logging
LOG_LEVEL_DEFAULT=Information
LOG_LEVEL_MICROSOFT=Warning

# Allowed hosts
ALLOWED_HOSTS=*
